$yellow: #FFAE00;
$black: #040707;
$white: #FFFFFF;
$gray: #AFB1B1;
$gray-light: #F3F4F4;
$gray-dark: #555757;
$gray-darker: #332300;
$gray-darkest: #000000;
$border: 1px solid rgba($color: $yellow, $alpha: 0.15);

@mixin fitImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}
@mixin card{
    // background: rgba($color: #AFB1B1, $alpha: 0.2);
    // background: rgba(175, 177, 177, 0.2);
    background: #323333;
    border: 1px solid rgba($color: $yellow, $alpha: 0.15);
    border-radius: 20px;
    // backdrop-filter: blur(28px) ;
    // -webkit-backdrop-filter: blur(28px); 
}
@mixin overlayCard{
    background: rgba($color: #373838, $alpha: 0.2);
    border: 1px solid rgba($color: $yellow, $alpha: 0.15);
    border-radius: 20px;
}
@mixin normalBtn{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

:root{
    /* Color styles */
    --breakout--secondary-100: rgba(220, 221, 221, 1);

    --breakout--secondary-50: rgba(243, 244, 244, 1);
    --breakout--primary----900: rgba(51, 35, 0, 1);
    --breakout--primary----800: rgba(102, 70, 0, 1);
    --breakout--primary----700: rgba(153, 105, 0, 1);
    --breakout--primary----600: rgba(204, 139, 0, 1);
    --breakout--primary----500: rgba(255, 174, 0, 1);
    --breakout--primary----400: rgba(255, 190, 51, 1);
    --breakout--primary----300: rgba(255, 207, 102, 1);
    --breakout--primary----200: rgba(255, 223, 153, 1);
    --breakout--primary----100: rgba(255, 239, 204, 1);
    --breakout--primary----50: rgba(255, 247, 229, 1);
    --breakout--secondary--900: rgba(55, 56, 56, 1);
    --breakout--secondary--800: rgba(74, 76, 76, 1);
    --breakout--secondary--700: rgba(93, 95, 95, 1);
    --breakout--secondary--600: rgba(133, 135, 135, 1);
    --breakout--secondary--500: rgba(4, 7, 7, 1);
    --breakout--secondary--400: rgba(153, 155, 155, 1);
    --breakout--secondary--300: rgba(175, 177, 177, 1);
    --breakout--secondary--200: rgba(197, 199, 199, 1);
    --b--success----800: rgba(31, 71, 32, 1);
    --b--success----500: rgba(76, 175, 80, 1);
    --b--success----300: rgba(148, 209, 150, 1);
    --b--success----50: rgba(237, 247, 238, 1);
    --b--error----800: rgba(99, 14, 13, 1);
    --b--error----500: rgba(229, 57, 53, 1);
    --b--error----300: rgba(239, 135, 133, 1);
    --b--error----50: rgba(253, 237, 237, 1);
    --shades----0: rgba(255, 255, 255, 1);
    --shades----0-stroke: rgba(0, 0, 0, 1);

    /* Text-size styles */
    --h1---h1--regular: 76px;
    --h1---h1--medium: 76px;
    --h1---h1--semi--bold: 76px;
    --display---display--semi-bold: 36px;
    --display---display--medium: 36px;
    --display---display--regular: 36px;
    --display---display-regular: 36px;
    --h2---h2--light: 36px;
    --h2---h2--regular: 36px;
    --h2---h2--medium: 36px;
    --h2---h2--semi--bold: 36px;
    --h3---h3--light: 24px;
    --h3---h3--regular: 24px;
    --h3---h3--medium: 24px;
    --h3---h3--semi--bold: 24px;
    --title---title--light: 20px;
    --title---title--regular: 20px;
    --title---title--medium: 20px;
    --title---title--semi--bold: 20px;
    --body---body--light: 16px;
    --body---body--regular: 16px;
    --body---body--medium: 16px;
    --body---body--semi--bold: 16px;
    --inputs---inputs--light: 14px;
    --inputs---inputs--regular: 14px;
    --inputs---inputs--medium: 14px;
    --inputs---inputs--semi--bold: 14px;
    --m--h1---h1--light: 32px;
    --m--h1---h1--regular: 32px;
    --m--h1---h1--medium: 32px;
    --m--h1---h1--semi--bold: 32px;
    --m--display---display---display--semi-bold: 20px;
    --m--display---display---display--medium: 20px;
    --m--display---display---display--regular: 20px;
    --m--display---m--display---display-regular: 20px;
    --m--h2---h2--light: 20px;
    --m--h2---h2--regular: 20px;
    --m--h2---h2--medium: 20px;
    --m--h2---h2--semi--bold: 20px;
    --m--h3---h3--light: 20px;
    --m--h3---h3--regular: 20px;
    --m--h3---h3--medium: 20px;
    --m--h3---h3--semi--bold: 20px;
    --m--title------title--light: 16px;
    --m--title------title--regular: 16px;
    --m--title------title--medium: 16px;
    --m--title------title--semi--bold: 16px;
    --m--body---body--light: 14px;
    --m--body---body--regular: 14px;
    --m--body---body--medium: 14px;
    --m--body---body--semi--bold: 14px;
    --m--inputs---inputs--light: 12px;
    --m--inputs---inputs--regular: 12px;
    --m--inputs---inputs--medium: 12px;
    --m--inputs---inputs--semi--bold: 12px;

}

.scrollable-container {
    overflow-y: auto;
  
    // Scrollbar track
    &::-webkit-scrollbar {
      width: 6px; // You can adjust width
    }
  
    &::-webkit-scrollbar-track {
      background: transparent; // Or use a subtle color
    }
  
    // Scrollbar thumb (the draggable part)
    &::-webkit-scrollbar-thumb {
      background-color: #888; // Light gray thumb
      border-radius: 10px;
    }
  
    // On hover
    &::-webkit-scrollbar-thumb:hover {
      background-color: #aaa; // Slightly lighter on hover
    }
  }
  

@font-face{
    font-family: 'sharp-semibold-20';
    src: url('/fonts/SharpGrotesk-SemiBold20.otf') format('opentype');
}
@font-face{
    font-family: 'sharp-book-20';
    src: url('/fonts/SharpGrotesk-Book20.otf') format('opentype');
}
@font-face{
    font-family: 'sharp-medium-20';
    src: url('/fonts/SharpGrotesk-Medium20.otf') format('opentype');
}
@font-face{
    font-family: 'sharp-light-20';
    src: url('/fonts/SharpGrotesk-Light20.otf') format('opentype');
}


.sec-head{
    font-family: 'sharp-semibold-20', sans-serif;
    font-size: 72px;
    line-height: 100%;

    &.not-bold{
        font-family: 'sharp-medium-20', sans-serif;
        span{
            font-family: 'sharp-medium-20', sans-serif;
        }
    }

    span, a{
        font-family: 'sharp-semibold-20', sans-serif;
        color: var(--breakout--primary----500);
    }

    &.sm{
        font-size: 48px;
    }

    &.book-20{
        font-family: 'sharp-book-20', sans-serif;
        font-size: 20px;

        span{
            font-family: 'sharp-book-20', sans-serif;
        }
    }
    &.book-16{
        font-family: 'sharp-book-20', sans-serif;
        font-size: 16px;

        span{
            font-family: 'sharp-book-20', sans-serif;
        }
    }

    &.medium-20{
        font-size: 20px;
        font-family: 'sharp-medium-20', sans-serif;
        line-height: 130%;

        span{
            font-family: 'sharp-medium-20', sans-serif;
        }
    }

    &.title{
        font-size: 20px;
        font-family: 'sharp-medium-20', sans-serif;
    }

    &.medium{
        font-family: 'sharp-medium-20', sans-serif;
        font-size: 36px;

        span{
            font-family: 'sharp-medium-20', sans-serif;
        }
    }
    
    &.h3{
        font-size: 24px;
        font-family: 'sharp-medium-20', sans-serif;
        line-height: 120%;
    }
}
.para{
    font-family: 'sharp-book-20', sans-serif;
    font-size: 18px;

    @media(min-width: 1400px){
        font-size: 21px;
    }

    span, a{
        color: var(--breakout--primary----500);
    }

    &.big{
        font-size: 24px;
    }
}
.main-btn{
    background: linear-gradient(#F87E00, #FFAE00);
    padding: 15px 20px;
    padding-bottom: 16px;
    border-radius: 100px;
    color: white;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    display: flex;
    max-width: max-content;
    align-items: center;
    border: 1px solid rgba($color: $yellow, $alpha: 0.15) !important;
    transition: 0.3s ease-in-out;

    &:hover{
        transform: translateY(-2px);
    }

    &.dark-btn{
        background: rgba($color: #F3F4F4, $alpha: 0.1);
        backdrop-filter: blur(28px);
        border: 1px solid rgba($color: $yellow, $alpha: 0.15) !important;
        // padding-top: 1.2em;

        &:hover{
            background: $yellow !important;

            span{
                color: #000 !important;
            }
        }
    }

    &.white-border{
        border: 1px solid rgba($color: $white, $alpha: 0.15) !important;
    }

    &.link-btn{
        background: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        padding: 0 !important;

        span{
            color: $yellow;
            text-decoration: underline;
            font-style: italic;
            font-size: 16px;
        }
    }

    &.yellow-text{
        background: transparent !important;

        span{
            color: $yellow;
        }
    }

    &.sm{

        span{
            font-size: 14px;
        }
    }

    &.wide{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &.wide-sm{
        padding: 13px 45px;
    }

    span{
        font-family: 'sharp-medium-20', sans-serif;
        font-size: 16px;
        line-height: 100%;
        transition: 0.3s ease-in-out;
        color: white;
    }

    &.center{
        margin: 0 auto;
    }
}
.text-transform-uppercase{
    text-transform: uppercase;
}
.section-padding{
    padding: 5em 0px;
}
.black-gr-div{
    background: linear-gradient(to bottom, #040707, #272727);
}
.big-text{
    color: rgba($color: #fff, $alpha: 1);
    font-family: 'sharp-medium-20', sans-serif;
    font-size: 36px;
    line-height: 120%;

    p{
        display: inline-block;
        padding: 0px 10px;
    }

    // >span{
    //     color: $yellow;
    // }
}
.form-group{
    position: relative;
    margin-bottom: 15px;

  

    .input-group{
        position: relative;
        display: block;

        .select-group{
            position: relative;
            width: 100%;

            select{
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                cursor: pointer;
                outline: none;
                width: 100% !important;

                option{
                    font-family: 'sharp-book-20', sans-serif;
                    font-size: 16px;
                    color: #272727;
                }
            }

            >img{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                pointer-events: none;
                user-select: none;
            }
        }

        input, textarea, select{
            width: 100%;
            font-family: 'sharp-book-20', sans-serif;
            font-size: 16px;
            color: white;
            border: none;
            font-size: 20px;
            outline: none;
            background: transparent;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 1);
            padding: 15px 0px;

            &::placeholder{
                color: #999B9B;
            }
        }
    }

    &.style-2{

        .input-group{

            input,select,textarea{
                border-radius: 100px !important;
                @include card;
                padding: 15px 18px;
            }

            .select-group{
    
                select{
                    border-radius: 100px !important;
                    @include card;
                    padding: 15px 18px;
                    background: rgba(175, 177, 177, 0.2) !important;
                    border: 1px solid rgba(255, 174, 0, 0.15) !important;
                    backdrop-filter: blur(28px) !important;
                }

                img{
                    right: 18px;
                }
            }
        }
    }
}
.search-group{
    position: relative;

    .input-group{

        >img{
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            pointer-events: none;
        }
    }

}

