@media (max-width: 992px) {
    .nav-inner .nav-list {
        display: none;
    }

    // .nav-inner .r-list {

    //     li:nth-child(1) {
    //         display: none;
    //     }
    // }
}

@media(max-width: 992px) {
    .pick-card .row .col-lg-4:not(:last-child) {
        border-right: none !important;
        border-bottom: 1px solid rgba($color: white, $alpha: 0.15) !important;
    }

    .mob-nav-list {
        display: flex !important;
        gap: 16px;
        margin-top: 24px;
    }

    .big-video-player {
        padding-top: 56% !important;

    }

    // .main-nav {
    //     padding-bottom: 1px;
    // }

    .faq-star {
        display: none !important;
    }

    .nav-inner .logo {
        width: max-content;
    }

    .nav-inner .r-list {
        padding-left: 0;
    }

    .score-card {
        flex-direction: column;
        padding: 0 !important;
        gap: 0;

        .score-card-img {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .hm-con-form-card {
        padding: 1.5em;
        // padding-top: 0;

        .main-btn {
            margin-top: 1.2em !important;
        }
    }

    .score-card-content {
        padding: 20px 20px;
    }

    .form-group .input-group input,
    .form-group .input-group textarea,
    .form-group .input-group select {
        font-size: 16px;
    }

    .big-text {
        font-size: 20px;
        line-height: 140%;
    }

    .sec-head.book-20 {
        line-height: 130%;
        font-size: 18px;
    }

    h1.sec-head {
        margin-bottom: 8px;
    }

    .sec-head {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .para.big {
        font-size: 18px;
    }

    .section-padding {
        // padding: 3em 0px;
        padding: 3em 0px;
    }

    .sec-head.medium {
        font-size: 24px;
    }

    .sec-head.h3 {
        font-size: 20px;
    }

    .looking-card ul li a span {
        font-size: 16px;
    }

    .hm-con-form-card-head {
        margin-top: 1.5em;
    }

    .hm-con-form-card-head ul li a span {
        font-size: 16px;
    }

    .ft-inner {
        flex-direction: column;
        gap: 1em;

        .ft-logo {
            width: 210px;
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }

        ul {
            padding-left: 0;
        }
    }

    .vis-con {
        margin-top: 1em;
    }

    .hm-con-form-card-head {
        flex-direction: column;
        align-items: flex-start;
    }

    .package-container {
        overflow-x: auto;
        overflow-y: none;
    }

    .package-header-cell,
    .package-row-cell {
        min-width: 200px;
        font-size: 16px !important;
        padding: 12px 15px !important;
    }

    .loc-map-wrap {
        padding-top: 100%;
    }

    .bday-form-card {
        padding: 1.5em;
    }

    .hm-card-row {
        padding: 0 28px;
    }

    .hm-card {
        padding: 18px;
    }

    .inner-page-banner-content {
        min-height: 350px;
    }

    .hm-header {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .cus-card {
        margin-top: 40px;
        padding: 16px 24px;
    }

    .counter-box.with-icon {
	display: flex;
	align-items: center;
	column-gap: 24px;
	justify-content: center;
}

    .counter-box.with-icon .top h4 {
        font-size: 20px;
    }

    .counter-box.with-icon .top img {
        width: 20px;
    }

    .trust-ratings-row {
        opacity: 0;
        height: 0;
    }

    .illus-image,
    .hm-contact-illus {
        height: 120px;
    }

    .mob-trust-ratings {
        display: block !important;
        text-align: center;
    }

    .counter-box.with-icon p {
        margin-top: 0;
        font-size: 16px;
    }

    .trust-sec .sec-head {
        text-align: center;
    }
}

@media(min-width: 1400px) {
    .big-text {
        font-size: 39px;
    }
}

@media(max-width: 576px) {
    .nav-inner .logo img {
        max-width: 90px;
    }
}